/* --------------------------- Global style */
body {
    text-align: center;
    font-family: sans-serif;

}

/* --------------------------- Heading */
h1 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 11%;
}

#question {
    display: block;
    padding: 1rem;
    color: black;
    margin-bottom: 1rem;
    height: 5rem;
    font-weight: 900;
    font-size: 15px;
}

/*---------------------------- Start button & Instructions*/
button {
    width: 15rem;
    height: 3rem;
    letter-spacing: 1.2px;
    color: black;
    background: rgb(201, 201, 201);
    margin-bottom: 1rem;
    border-radius: 50px;
    cursor: pointer;
    font-weight: 800;
}

#start {
    text-transform: uppercase;
    margin-left: auto;
    display: list-item;
    margin-right: auto;
}

#info {
    text-transform: uppercase;
    font-size: 1rem;
    text-transform: capitalize;
    background-color: rgb(201, 201, 201);
    color: black;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    display: list-item;
}

#info:hover {
    background: rgb(52, 52, 56);
    color: white;
}

button:hover {
    background: rgb(52, 52, 56);
    color: white;
}

/* game rules info box style */
#rules {
    background-color: rgb(201, 201, 201);
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 5px rgba(37, 36, 40, 0.7);
    border: 2px solid black;
    width: 77%;
    height: 25rem;
    max-height: 435px;
    max-width: 579px;
    margin-left: auto;
    margin-right: auto;
}

ol {
    margin: 20px;
}

#enjoy {
    margin-top: 20%;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
}

.focus {
    text-align: center;
}

#closeInfo:hover {
    background: rgb(52, 52, 56);
    color: white;
}

/* --------------------------- Game Layout */
#container {
    background-color: rgb(201, 201, 201);
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 5px rgba(37, 36, 40, 0.7);
    border: 2px solid black;
    width: 77%;
    height: 25rem;
    max-height: 435px;
    max-width: 579px;
    margin-left: auto;
    margin-right: auto;
}

.btn {
    width: 70%;
    height: 3rem;
    border: 2px solid black;
    letter-spacing: 1.2px;
    color: black;
    background: rgb(201, 201, 201);
    margin-bottom: 1rem;
    border-radius: 50px;
    font-weight: 800;
    cursor: pointer;
}

.btn:hover {
    transform: scale(1.1);
    transition: transform 100ms;
    background: rgb(52, 52, 56);
    color: white;
}

#score {
    text-align: right;
    font-size: 1.5rem;
    padding: 0;
    margin: 0;
    font-weight: 900;
}

.scores {
    font-weight: 900;
}

.popup {
    box-sizing: border-box;
    height: 23rem;
    max-height: 23rem;
    max-width: 77%;
    margin-left: auto;
    margin-right: auto;
    top: 5rem;
    display: none;
}

.popup-content {
    padding-top: 25%;
}

#play-again {
    width: 50%;
    height: 3rem;
    letter-spacing: 1px;
    border: 2px solid black;
    background-color: rgb(201, 201, 201);
    margin-bottom: 0.6rem;
    border-radius: 50px;
    cursor: pointer;
    font-weight: 700;
}

#play-again:hover {
    background: rgb(52, 52, 56);
    color: white;
    transform: scale(1.1);
    transition: transform 100ms;
}

/* --------------------------- Footer */
footer {
    background: rgb(52, 52, 56);
    color: white;
    padding: 2px 0px 2px 0px;
    margin-top: 20px;
    font-size: 0.6rem;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    bottom: 0;
    width: 100%;
}